<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Reporte de Incidentes</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../bower_components/material-design-lite/material.min.css">        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <style>
            .demo-card-wide.mdl-card {
            width: 512px;
            }
            .demo-card-wide > .mdl-card__title {
            color: #fff;
            height: 176px;
            background: url('images/welcome_card.jpg') center / cover;
            }
            .demo-card-wide > .mdl-card__menu {
            color: #fff;
            }
        </style>


    </head>
    <body ng-app="ReportIncidentes" >
       <div class="mdl-card mdl-shadow--2dp demo-card-wide">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Reporte su Incidente Aquí</h2>
            </div>
            <div class="mdl-card__supporting-text">
                ¿Há sufrido usted un ataque a su institución?, envíe su reporte  y en breve le atenderemos
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <div ng-controller="ContactController">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    {{ resultMessage }}                
                </a>
                    <form ng-submit="submit(contactform)" name="contactform" method="post" action="" role="form">
                        <div class="mdl-textfield mdl-js-textfield  " ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                            <input class="mdl-textfield__input"  ng-model="formData.inputName" type="text" id="inputName" name="inputName" required />
                            <label class="mdl-textfield__label">Nombre de quien reporta...</label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield textfield-demo" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                            <input class="mdl-textfield__input"  ng-model="formData.inputEmail" type="email" id="inputEmail" name="inputEmail" required />
                            <label class="mdl-textfield__label">Correo Electrónico</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield textfield-demo" ng-class="{ 'has-error': contactform.inputPhone.$invalid && submitted }">
                            <input class="mdl-textfield__input"  ng-model="formData.inputPhone" type="text" id="inputPhone" name="inputPhone" required />
                            <label class="mdl-textfield__label">Número de teléfono de contacto</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield textfield-demo" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                            <textarea class="mdl-textfield__input" type="text"  ng-model="formData.inputMessage" rows="4" id="inputMessage" name="inputMessage"  required></textarea>
                            <label class="mdl-textfield__label">Comentenos sobre su incidente...</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield textfield-demo">
                            <br>                      
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                Enviar su Reporte
                            </button>
                        </div>
                    </form>
                    
                </div>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="javascript:location.reload()">
                    Presione aquí para enviar otro reporte               
                </a>
                
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
                </button>
            </div>
        </div>
        <script src="../bower_components/material-design-lite/material.min.js"></script>        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>

    </body>
</html>